
@mixin centered() {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.triangle--left.works{
    fill:#FAF8F0;
}

.triangle--right.works {
    fill:#FAF8F0;
}

.works__header_title {
    text-align: center;
    background: #FAF8F0;
    position: relative;
}

.works__title {
    margin: 0;
    padding: 70px 0;
    font: 63px/1 'BERNIERRegular-Regular', Helvetica, Arial;
    color: #373e42;
    position: relative;
    width: 300px;
    display: inline-block;
    &:before,&:after {
        content:'';
        width: 22px;
        height: 5px;
        background: #cbcbc6;
        position: absolute;
        top: 95px;
    }
        &:before {
            left: -30px;
        }
        &:after {
            right: -30px;
        }
}

.works__title_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -55%);
    opacity: .08;
}

.slider__section {
	    background: linear-gradient(to right, #f0efe9 0%, #f0efe9 50%, #efebe0 50%, #efebe0 100%);
	    height: 100vh;
        text-align: center;
        min-height: 650px;
        position: relative;
       
}

.slider__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.slider__current {
    background: #EFEBE0;
    height: 40%;
}
.slider__current-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider__current-item {
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--active {
         
    opacity: 1;

    }
}


.slider__current-image {
        position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 80%;
    max-height: 100%;
}

.slider__description {
    background: #F0EFE9;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__description-container {
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__description-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

.slider__description-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &--active {
        opacity: 1;
        position: relative;
    }
}

.slider__header {
    font: 1.5rem 'BERNIERRegular-Regular', Arial, sans-serif;
    color: #455a64;
    padding: 0 0 20px;
    margin: 0 0 15px;
    position: relative;
    text-transform: uppercase;
}

.slider__caption {
    margin: 0 0 45px;
    padding: 20px 0;
    width: 100%;
    color: #20b5a1;
    font: 16px/1 'Roboto-Medium', Helvetica, Arial;
    text-transform: uppercase;
    border-top: solid 1px #acd6ce;
    border-bottom: solid 1px #acd6ce; 
}

.slider__btn {

    display: inline-block;
    background: #00bfa5 ;
    background-size: 19px 19px;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px 0 45px;
    text-decoration: none;
    font: 16px/45px 'Roboto-Medium', Helvetica, Arial;
    transition: opacity ease-in .2s;
    position: relative;
    &:hover {
        opacity: 0.5;
    }
}

.slider__thumbnails {
    background: #EFEBE0;
    display: flex;
    height: 20%;
}
.thumbnail {
    position: relative;
    width: 50%;
    height: 100%;
    transition: all 0.7s;
    &:before{
     content:"";
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    }
     &:after {
    content: '';
    width: 45px;
    height: 30px;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    position: absolute;
   }  
   &--down:after {
    background: url("../img/portf_arrow_down.svg") center center no-repeat;
   }
    &--up:after {
    background: url("../img/portf_arrow_up.svg") center center no-repeat;
   }
    &:hover:after {
        transform: scale(1.5,1.5);
        transition: 0.7s ease-in;
    }
    &:hover {
        opacity:0.7;
     
    }
}

.thumbnail__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.thumbnail__item {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    left:0;
    &--active {
        top:0;
  
    }
}
.thumbnail__item .thumbnail__image {
    height: 100%;
    max-width: 100%;
}

.thumbnail__image {
      max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.slider {
position: absolute;
z-index: 1;
top: 0;
left: 100%;
width: 100%;
height: 70%;
}

.slider__display {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider__item {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    &.active {
        top: 0%;
    }
}
 .visual-img {

    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.description__block {
	vertical-align: middle;
   display: inline-block;
   max-width: 90%;
}

.description__title {
    margin: 0 0 45px;
    font: 36px/1 'BERNIERRegular-Regular', Helvetica, Arial;
    color: #455a64;
    position: relative;
&:before {
        top: 15px;
        left: -45px;
        position: absolute;
    }
    &:after {
        top: 15px;
        right: -45px;
        position: absolute;
    }
   &:before,&:after {
     content: '';
    display: block;
    width: 20px;
    height: 5px;
    background: #cbccc8;
   }

}



.link__img {
    position: absolute;
    width: 20px;
    height: 45px;
    top: 0;
    left: 13px;
    fill: #fff;

}


.about-me {
	min-height: 1275px;
    background: url('../img/bg_about.jpg') bottom no-repeat;
    position: relative;
}

.about-me__header {
    text-align: center;
}

.about-me__heading {
	margin: 0;
    padding: 70px 0;
    text-align: center;
    font: 63px/1 'BERNIERRegular-Regular', Helvetica, Arial;
    color: #373e42;
    display: inline-block;
    position: relative;
    width: 454px;
    &:before,&:after {
    content: '';
    display: block;
    width: 20px;
    height: 5px;
    background: #cbcbc6;
    position: absolute;
    top: 100px;
    }
    &:before {
    left: 50px;
    }
    &:after {      
    right: 50px;
    }
}

.about_header-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -55%);
}

.about-me__reviews {
	margin: 0 auto;
    width: 785px;
}

.about-me__reviews-section {
	    margin: 0 -40px 0 0;
}

.about-me__review {
	display: inline-block;
    margin: 0 40px 40px 0;
    padding: 60px 0 0;
    width: 370px;
    min-height: 225px;
    background: url('../img/quote.png') left top no-repeat;
    background-size: 30px;
    color: #455a64;
    font: 16px/22px 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.about-me__review-text {
	    margin: 0 0 30px;
}


.about-me__dima,.about-me__zar  {
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    }
.about-me__dima{
    background-image: url('../img/kov.png');
     }
.about-me__zar {
    background-image: url('../img/zar.png');   
}
.about-me__signature{
    vertical-align: middle;
    display: inline-block;
    width: 260px;
    color: #20b5a1;
    font: 16px/1 'Roboto';
}
    
.about-me__signature-name {
	margin: 0 0 15px;
    font-weight: 700;
}

.about-me__contact-section{
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: 35px 20px 45px;
    box-sizing: border-box;
    margin: auto;
    width: 380px;
    min-height: 440px;
    border-radius: 3px;
    background: url('../img/bg-blur.png') 55% 65% no-repeat;
    background-size: 1800px 1333px;}

.contact__heading {
	    margin: 0 0 38px;
    text-align: center;
    font: 35px/1 'BERNIERRegular-Regular', Helvetica, Arial;
    color: #455a64;
}

.contact-me__input {
    padding: 17px 20px;
    margin: 0 0 15px;
    display: block;
    background: #fff;
    width: 337px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    outline: none;
    font: 16px/1 'Roboto-Regular', Helvetica, Arial;
    color: #373e42;
}

.contact-me__input.__textarea {
    height: 140px;
    resize: none;
}

.contact-me__btns {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
}

.contact-me__btn {
    flex: 1;
    outline: none;
    color: #fff;
    background-color: #268b8b;
    font: 16px/45px 'Roboto-Regular', Helvetica, Arial;
    text-decoration: none;
    text-align: center;
    transition: background ease-in .2s;
    &:hover {

    background: #26bbaa;

    }
}
.contact-me__btn:first-child {
    box-sizing: border-box;
    border-right: solid 1px #82cfc9;
}

.arrow-up {
     width: 40px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 49%;
    fill: #fff;
   
}

@media (min-width:1201px) {

    .slider__container {

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #F0EFE9;
    justify-content: flex-end;
    }

    .slider__current {
    order: 2;
    height: 75%;
    width: 50%;
    }
.slider__current-image {
    max-width: 95%;
}

.slider__description {

    order: 1;
    width: 50%;
    height: 75%;
}
.slider__description-container {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    top: 0;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.slider__thumbnails {

    order: 3;
    height: 25%;
    width: 50%;
}
}

@media (min-width: 769px) and (max-width:1200px) {
    .triangle {
        height:150px;
       bottom:-1px;
    }
.slider__section {
height: auto;
min-height: 0;
}
.slider__current {   
    height: 40%;
}

.slider__description {
    height: 30%;
}

.slider__description-container {
    max-width: 475px;
}
.slider__header {
    font-size: 2.14rem;
}
.slider__thumbnails {
    height: 30%;
}


    .about-me__reviews {
        width:731px;
    }
.about-me__review {
    margin: 0 2px 40px 0;
}
.about-me__reviews-section {
    margin: 0 -19px 0 0;
}
    .about-me__contact-section {
        width:355px;
    }
    .contact-me__input{
        width:313px;
    }
}

@media (min-width: 320px) and (max-width:768px) {

    .works__title  {
      
        font-size: 30px;
        &:before,&:after {
            top: 81px;
        }
        &:before{
            left: 50px;
        }
        &:after {
            right: 50px;
        }
    }
    .works__title._logo{
background-size: 100%;
    }
    .triangle {
        height:150px;
       bottom:-1px;
    }
.slider__section {
height: auto;
min-height: 0;
}

.about-me__heading {
    padding: 40px 0 20px 0;
    font-size: 30px;
    width: 200px;
    &:before,&:after {
        top: 52px;
    }
    &:before{
      left: 0;
    }
    &:after {
        right: 0;
    }
}
.about-me__heading-style {
    font-size: 35px;
    &:before {
        left: 24px;
    }
    &:after {
        right: 24px;
    }
}
    .about-me__reviews {
        width:100%;
    }
.about-me__review {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 30px 0 0;
    background: url("../img/quote.png") center top no-repeat;
   
}
.about-me__reviews-section {
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
}
.about-me__review-text {
    margin: 0px 0 10px;
}
.about-me__dima {
    width: 50px;
    height: 50px;
    margin:0 10px 0 0;
}
.about-me__zar {
    width: 50px;
    height: 50px;
    margin:0 10px 0 0;
}
.about-me__signature {
    width: 210px;
}
    .about-me__contact-section {
        width:300px;
    }
    .contact-me__input{
        width:260px;
    }
}