footer.footer__works
  .footer__upper__section
     ul.bottom__navigation
      each href,title in menu
       li.bottom__navigation__item
        a(href="#{href}").bottom__navigation__link=title
     -var socials = { 'vk' : '#vk_round', 'git': '#github_round', 'in' : '#in_round'}
      ul.social__links
       each svg,href in socials
        li.bottom__social__item__right
         a(href="#{href}").bottom__social__link__right
          svg.footer__socials
           use(xlink:href="#{svg}")
   .footer__bottom__section
    .footer__bottom__descr
     p.footer__bottom__descr__text Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__bottom__copyright
     p.footer__bottom__descr__text__right &copy Бутин Максим | создано с любовью в LoftSchool | 2016