/* ===========FOOTER STYLES ========== */
.footer__works {
	background: #2f4247;
}
.footer__blog {
	background: #555b5e;
}
.footer {
	background: #555b5e;
	opacity: 0.8;
	
}
.footer__upper__section {
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	height: 75px;
	position: relative;
}
.bottom__navigation__item {
	padding-top: 24px;
	margin:  0;
	
}
.bottom__navigation__link {
	color: #fff;
	margin: 0 30px;
	font-family: 'robotomedium',sans-serif;
	font-size: 16px;
	
}
.social__links {
	position: absolute;
	right: 50px;
	top: 17px;
}
.bottom__social__item__right{
	padding: 0 10px;
	}
.footer__socials {
	width: 35px;
	height: 40px;
	&:hover {
		fill:#fff;
	}

}
.footer__bottom__section {
	height: 75px;
}	
.footer__bottom__descr {
	display: inline-block;
}
.footer__bottom__descr__text {
	color: #97a1a4;
	width: 570px;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 16px;
	font-family: 'robotolight',sans-serif;
	line-height: 1.5;

}
.footer__bottom__descr__text__right {
	color: #97a1a4;
	font-family: 'robotolight',sans-serif;
	font-size: 16px;
	margin-right: 30px;
	margin: 22px 10px;
}
.footer__bottom__copyright {
	float: right;
}
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.footer__upper__section {
		height:120px;

	}
	.bottom__navigation {
		text-align:center;
	}
	.social__links {
		margin:20px 0;
		position:inherit;
		top:0;
		text-align:center;
	}
	.footer__bottom__section {
		height:116px;
	}
	.footer__bottom__descr__text {
		text-align:center;
		width:703px;
	}
	.footer__bottom__copyright {
		float:none;
	}
	.footer__bottom__descr__text__right {
		margin:19px 10px;
		text-align:center;
	}
}
@media (min-width: 320px) and (max-width: 767px) {

.footer__upper__section {
	height: 120px;
}
.bottom__navigation {
	text-align: center;
}
	li.bottom__navigation__item {
		margin:0 auto;
	}
	a.bottom__navigation__link {
		margin:0 5px;
		font-size: 13px;
	}
	.social__links {
		width: 175px;
		
		text-align: center;
		right: 92px;
		top: 57px;
	}
	li.upper__section__item__right {
		padding:0 0 0 5px;
	}
.footer__bottom__section {
	height: 100%;
}
	.footer__bottom__descr__text {
		width:300px;
		font-size: 13px;
		margin:10px 0 0 10px;
		text-align: center;
	}

	.footer__bottom__copyright {
		float:none;
	}
	.footer__bottom__descr__text__right {
		text-align: center;
		font-size: 13px;
		width: 260px;
		text-align: center;
		margin: 16px auto;
	}
}