/* HEADER STYLES */
.sprite-section {
  display: none;
}

.preloader__section {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../img/bg.jpg') center center no-repeat;
    z-index: 20;
    background-size: cover;   
}

.preloader__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
}

.preloader__round {
    // fill: transparent;
    opacity: 0;
    transition: all 0.3s;
    
}
     .circle{
       transition: all 3s;
    } 

.preloader__text {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%); }


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 10;
}

 
.social__list {
    margin: 0 35px;
    padding: 0 10px;
    width: 100%;
    height: 2.375em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header__icon {
    width: 30px;
    height: 30px;
    fill:#fff;
    transition:all 0.5s;
    opacity: 0.5;
     &.vk {
        width: 30px;
        height: 17px;
    }
    &.git {
        width: 26px;
        height: 22px;
    }
    &.in {
        width: 24px;
        height: 24px;
    }
    &:hover {
        opacity:1;
    }
}


.social__items {
   margin: 0 15px;
    min-width: 30px;
    height: 100%;
    &.vk {
        width: 30px;
        height: 17px;
    }
    &.git {
        width: 26px;
        height: 22px;
    }
    &.in {
        width: 24px;
        height: 27px;
    }
}

.social__list_header {
    margin-top: 31px;
    margin-bottom: 31px;
    padding: 0 17px;
    width: auto;
    &.social__items {
    	margin: 0 13px;
    }
}

.icons-blog {
    
    opacity: 0.5;
    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: -1;
    color: #fff;
}
.active + .nav {
    visibility: visible;
}

.nav:before, .nav:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #32C8B4;
    opacity: 0.9;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.active + .nav:before {
    left: 0;
}
.nav:before {
    left: -50%;
}

.active + .nav:after {
    right: 0;
}
.nav:after {
    right: -50%;
}
.nav__item {
    position: relative;
    text-align: center;
    list-style: none;
    font-size: 3.9375em;
    transform: scale(0);
    transition: none;

}
.nav__btn .nav__item {



}

.active +.nav .nav__item{
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.77, 0.6, 0.31, 1.2) 0.6s;
}

.nav__item:not(:last-child) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.79365em;
}

.nav__link {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-family: 'BERNIERRegular-Regular',sans-serif;
    padding: 0 35px;
&::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    height: 5px;
    width: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}
&:before {
    left: 0;
    margin-right: 15px;
}

&:after {
    right: 0;
    margin-left: 15px;
}
&:hover:before,&:hover:after {
    width: 22px;
}
}


.nav__btn {
    position: relative;
    margin-top: 28px;
    margin-right: 25px;
    width: 45px;
    height: 43px;
    z-index: 10;
    cursor: pointer;
}

.menu_burger {
    width: 45px;
    height: 5px;
    border-radius: 3px;
    background:#fff;
    margin: 0 0 10px 0;
    transition: transform ease-in .5s, opacity ease-in .2s;
}

.nav__btn.active .menu_burger:first-child {

    transform: rotate(45deg) translateY(21px);
}
.nav__btn.active .menu_burger:nth-child(2) {
transform: rotate(-45deg) translateY(-5px);
   opacity: 0;
}

.nav__btn.active .menu_burger:last-child {

    transform: rotate(-45deg) translateY(-21px);
}


.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.first-screen {

    position: relative;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
}

.bg__image {

position: absolute;
top: 0;
right: 0;
left: 0;
height: 1276px;
min-width: 1200px;
& img {
    height: 100%;
    display:block;
    max-width: 100%;
 }
}

.author__section-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    transform: translateY(-50%);
    text-align: center;
    &.blog__section {
        top:30%;
        & img {
            width: 40%;
        }
    }
    img {
        width: 100%;
        display: inline-block;
    }
}

.arrow__slide__down {
    position: absolute;
    top: 90%;
    left: 49%;
    width: 35px;
    height: 35px;
    fill: #fff;

}

.triangle {
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    fill: #fff;
}

#about_header {
    opacity: 0.5;
}


.author__section-block {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}


.author__text  {
    font-family: 20px/1 'robotoregular',sans-serif,Arial;
    color:#fff;
}


.author__header {
     font: 63px/1'BERNIERRegular-Regular',Helvetica,Arial;
    color:#fff;
    margin: 0;   
}

